<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.t[page.lang].title }} - {{ site.t[page.lang].tagline }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>
    {% if page.title == "Home" %} {{ site.t[page.lang].title }} &middot; {{ site.t[page.lang].tagline }} {% else %} {{ page.title }} &middot; {{ site.t[page.lang].title
    }} {% endif %}
  </title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115905550-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-115905550-1');
  </script>
  <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png?v2">
  <link rel="shortcut icon" href="/img/favicon.ico?v2">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
      OneSignal.init({
        appId: "258fb483-331f-497f-9016-6f2aa951f549",
      });
    });    
  </script>
  
	{% include alternate.html %}
</head>