<img src="/img/bitshares.png" class="img-fluid" />
<h1>
  <a href="/">
    {{ site.title }}
  </a>
</h1>
<p>{{ site.description }}</p>
<ul class="list-unstyled">
  <li>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
  </li>
  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
  <li>
    <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
  </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  <li>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">See in Github</a>
  </li>
</ul>
{% include lang_nav.html %}
<p class="copyright">&copy; {{ site.time | date: '%Y' }} BitShares Committee.</p>